/* webpage tweaks */
@font-face {
    font-family: 'Ink free';
    src: url('../text/Inkfree.ttf');
}
*{
    font-family: 'Ink free', sans-serif;
    font-weight: 500;
    margin: 0;
}
body {
    background-color: #1E1E1E;
    font-family: 'Ink free', sans-serif;
    text-decoration: none;
    text-size-adjust: 150%;
    color: azure;
    opacity: 0;
    transition: .5s;
}
/* landing page styles */
.initbuttons{
    height:50px;
    width:200px;
    background-color: #D9D9D9 ;
    text-align: center;
    border-radius: 15px;
    margin: auto;
}
.initbuttons:hover{
    background-color: aqua;
}
.button-holder{
    margin: 25px auto;
    position: relative;
    text-align: center;
}
.title{
    color: rgb(0, 155, 155);
    font-size: 500%;
    font-weight: 600;
    text-align: center;
}
#title-text-container{
    width: 100%;
    height:150px;
    display: flex;
    justify-content: center;
}
#title-text{
    margin:10px;
    height:150px;
    width:400px;
    text-align: center;
    font-size: x-large;

}

/* game board top styling */
.gametopbox {
    width:200px;
    height:inherit;
}
.gametop{
    width: 100%;
    height:50px;
    display:flex;
    justify-content: center;
}
/* start button */
.buttongame{
    border-radius: 100%;
    height:30px;
    width:30px;
    background-color: #D9D9D9;
    border-style: none;
    margin:1px;
    padding:3px;
}
.buttongame:hover{
    background-color:aqua ;
}
/*info button  */
#infohome {
    list-style-type: none;
    color: #FFFFFF;
    text-align: Right;
    display: flex;
    justify-content: right;
    padding: 5px;
}
#roundCounter {
    width:200px;
    display: flex;
    justify-content: left;
    padding: 5px;

}
#roundNumber{
    width:100px;
    font-size:x-large;
}
#round{
    width: 100px;
}


/* game board styles */

#gameboard{
    margin:150px auto;
}
.selector-outer{
    text-align: center;
    width: 100%;
    height:101px;
    display:flex;
    justify-content: center;
}
.selector{
    text-align: center;
    height:100px;
    width:100px;
    margin: 1px;
}
#purple{
    Background: url("../images/purple.png") no-repeat center center /cover;
}
#green {
    Background: url("../images/green.png") no-repeat center center /cover;
}
#red {
    Background: url("../images/red.png") no-repeat center center /cover;
}
#blue {
    Background: url("../images/blue.png") no-repeat center center /cover;
}
/* tracker styles */
#bottomholder{
    height:35px;
    display: flex;
    justify-content: center;
    position:absolute;
    left: 50%;
    transform: translate(-50%);
}
#trackerouter{
    border-radius: 25px;
    height:30px;
    width:360px;
    background-color: #D9D9D9;
}
#trackerinner{
    height:30px;
    width:360px;
    display: flex;
    justify-content: center;
}
/* blocks for trackers */
.blockpurple{
    height:20px;
    width: 20px;
    margin:2px;
    margin-top:5px;
    background-color: purple;
}
.blockgreen{
    height:20px;
    width: 20px;
    margin:2px;
    margin-top:5px;
    background-color: green;
}
.blockred{
    height:20px;
    width: 20px;
    margin:2px;
    margin-top:5px;
    background-color: red;
}
.blockblue{
    height:20px;
    width: 20px;
    margin:2px;
    margin-top:5px;
    background-color: blue;
}


/* styling for info popup */
#info{
    background-color: #1E1E1E;
    position: relative;
    left: 50%;
    transform:translate(-50%);
    text-align: center;
    width: 700px;
    height:500px;
    padding:20px;
    border-radius: 15px;
    display: flex;
}
#info-image{
    width:700px;
    height:500px;
    background: url("../images/information.png") no-repeat center center;
    background-size: cover;
}
#info-close{
    font-size: 30px;
    float: right;
}
#info-close:hover{
    color: aqua;
}
#info-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: 1;
}
/* game start button styles */
#startbutton-container{
    position: absolute;
    height:50px;
    width: 100%;
    text-align: center;
}
#startbutton{
    height: 50px;
    width: 150px;
    background-color: #D9D9D9 ;
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}
#startbutton:hover{
    background-color: aqua;
}
/* win and lose pop styles */
.winlose{
    height:70px;
    width:450px;
    padding:30px;
    margin: auto;
    border-radius: 20px;
    background: #403e3e;
    position:absolute;
    left: 50%;
    top:30%;
    transform:translate(-50%);
}
#win{
    display: none;
}

#lose{
    display:none;
}

/* responsive design styles */
@media  screen and (max-width: 768px)  {
    #info{
        width: 335px;
        height:379px;
    }
    #info-image{
        width:335px;
        height:379px;
        background: url("../images/informationphone.jpg") no-repeat center center/ cover;
    }
}
@media screen and (max-width: 475px) {
    #info{
        width: 156px;
        height:190px;
    }
    #info-image{
        width:156px;
        height:190px;
        background: url("../images/informationphone.jpg") no-repeat center center/ cover;
    }
    #title-text-container{
        height:100px;
    }
    #title-text{
        height:100px;
        font-size:medium;
    
    }
    .initbuttons{
        font-size: 50%;
    }
    .selector-outer{
        height:76px;
    }
    .selector{
        height:75px;
        width:75px;
    }
    .bottomholder{
        width:200px;
    }
    #trackerouter{
        width: 160px;
    }
    #trackerinner{
        width:150px;
        left:5px;
    }
    .winlose{
        height:50px;
        width: 225px;
        padding:15px;
    }
    .initbuttons{
        height:20px;
        width:100px;
        font-size: 50%;
    }
    .title{
        font-size: 300%;
    }
    
}
